<?xml version="1.0"?>
<!-- 
    注意: 除了手動編輯這個檔案以外，您也可以使用 
    Web 管理工具設定您的應用程式設定值。請使用 
    Visual Studio 中的 [網站] -> [ASP.NET 組態] 選項。
    如需完整的設定與註解清單，請參考 
    machine.config.comments (通常位於 
    \Windows\Microsoft.Net\Framework\v2.x\Config) 
-->
<configuration>
  <!--Data Source=ULTIMUS;Initial Catalog=UltimusDB;User ID=sa -->
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=ULTIMUS;Initial Catalog=UltimusDB;User ID=sa; password=sa" />
    <add name="UltimusDBConnectionString" connectionString="Data Source=ULTIMUS;Initial Catalog=UltimusDB;User ID=sa; password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings/>
	<system.web>
		<!-- 
            設定 compilation debug="true" 會將偵錯 
            符號插入編譯過的頁面。因為這樣會
            影響效能，所以只有在開發期間才能將
            這個值設定為 true。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="UltEik, Version=7.0.1.0, Culture=neutral, PublicKeyToken=2703BEAC21567CDE"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Net.Json, Version=1.0.2821.20109, Culture=neutral, PublicKeyToken=E0B9C68A59FC9EFD"/></assemblies></compilation>
		<!--
            <authentication> 區段可以用來設定 ASP.NET 
            使用的安全性驗證模式，以識別連入的 
            使用者。 
        -->
		<authentication mode="Windows"/>
		<!--
            <customErrors> 區段可以用來設定 
            在執行要求期間發生未處理 
            錯誤時所要執行的動作。具體來說，
            它可以讓開發人員設定要顯示的 HTML 錯誤網頁， 
            以取代錯誤堆疊追蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
